// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-form {
  text-align: center;
  margin: 50px;
  justify-content: center;
  .search-form-textbox {
    padding: 15px 20px;
  }
}

.submit-btn {
  color: white;
  margin: 30px;
  padding: 15px 20px;
  background-color: purple;
}
